<!DOCTYPE html>
<html>
  <head>
    <title>Emoji Cover Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .vertical-center {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;
      }
      .container {
        max-width: 1000px;
      }

      .small-container {
        max-width: 500px;
      }
    </style>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter51230806 = new Ya.Metrika2({
                        id:51230806,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/51230806" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>


  <body>
    <div class="vertical-center">
        <div class="container text-center">
            <h1>I'll give you square image with emoji</h1>
            <br>
            <form role="form" method='POST' action='/'>
                <button type="submit" class="btn btn-default btn-lg text-center">Generate</button>
            </form>
            <br>
            <h3>This can be used as</h3>
            <div class="container small-container text-center">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">Cover image for any social network chats</li>
                    <li class="list-group-item list-group-item-warning">Avatar if you don't want to use your real photo</li>
                    <li class="list-group-item list-group-item-danger">Random square image</li>
                </ul>
            </div>
            <a href="https://t.me/emojicover">More images</a>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>

  <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">
                <a href="https://okhlopkov.com"><i>okhlopkov</i></a>
        </div>
  </footer>

</html>